/* Apply Merriweather to body text by default */
body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
  }
  
  /* Apply Playfair Display to headings */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
  }
  
  /* Additional styles for the hero section */
  .hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh; /* Full viewport height */
    color: white;
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    text-align: center; /* Center text alignment */
  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure the video stays behind the content */
    opacity: 5;
  }
  
  .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container */
  }
  
  .hero .container {
    position: relative;
    z-index: 1; /* Ensure the text is above the video */
    padding: 0 1rem; /* Optional: add padding for text */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
  }
  
  .hero h1, .hero p, .hero a {
    color: white; /* Text color over the video */
  }
  
  .hero h1 {
    font-size: 3rem; /* Adjust size as needed */
    margin-bottom: 0.5rem;
  }
  
  .hero p {
    font-size: 1.25rem;
  }
  .services {
    background: rgb(51,51,51);
    background: linear-gradient(180deg, rgba(51,51,51,1) 10%, rgba(245,245,245,1) 100%);
  }
  .events{
    background: rgb(245,245,245);
    background: linear-gradient(180deg, rgba(245,245,245,1) 10%, rgba(255,255,255,1) 100%);
  }